.form_inscription{
    width: 80%;
    background-color: #78CAD2;
    height: 80%;
    margin: auto;
    border-radius: 3em;
    margin-top: 2em;
  }
  .input_inscri{
  width: 80%;
  margin: auto;
  padding: 0.25em 1em;
  border-radius: 0.5em;
  border: 1px solid white;
  height: 2em;
  }
  
  .title_inscri {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-top: 1em;
  }
  .btn_inscri{
  background-color: #A1D2CE;
  padding: 3% 6%;
  border:3px solid white;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 1em;
  margin-top: 2em;
  }
  .input_conn {
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #fff;
    border-radius: 20px;
  }